
html, body{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
}

.display-hide {
    display: none;
} 

 div {
    flex-grow: 1;
} 

.align-center {
    text-align: center;
}

.header {
    font-family: Copperplate;
}

#personal-info {
    background-color: #1f4f2d;
}


#education {
    background-color: #5582a7;
}


#work-exp {
    background-color: #2a475e;
}

#skills {
    background-color: #118cd8;
}

#activities {
    background-color: #a9bcc7;
}

#personal-info-content {
    background-color: yellow;
}
 

.work-exp-tasks {
    display: inline-block;
    text-align: left;
}


#work-exp-content {
    border-top: solid;
    
}

td {
    text-align: left;
}

 #skills-table {
    width: 100%
} 

.activity-lists {
    text-align: left;
    
}

h4 {
    border: solid;
}

h4:hover {
    color:red;
}

#exp-header:hover{
    color:red
}
#skills-header:hover{
    color:red
}
#activities-header:hover{
    color:red
}



